[submodule "lib/fireh_runner"]
	path = lib/fireh_runner
	url = https://github.com/dozymoe/fireh_runner
[submodule "lib/react-materialweb"]
	path = lib/react-materialweb
	url = https://github.com/dozymoe/react-materialweb
[submodule "lib/fireh_react"]
	path = lib/fireh_react
	url = https://github.com/dozymoe/fireh_react
