@use "./variables";
@use "@material/theme" with
(
    $primary: variables.$primary,
    $secondary: variables.$secondary,
    $surface: variables.$surface,
    $background: variables.$background,
);

@use "@material/typography/functions";
$mdc-typography-styles-body1: (
    font-size: functions.pxToRem(18px),
);
@import "@material/typography/mdc-typography";
