@use "@material/theme";
@use "@material/shape";
@import "@material/typography/mdc-typography";
//-
@import "../variables";

footer
{
    @include theme.property(background-color, 'primary');
    @include theme.property(color, 'on-primary');

    .contact-info
    {
        @include theme.property(color, 'on-primary');
        display: block;
        padding: 0.5em 2px;
        text-decoration: none;

        &:active,
        &:focus,
        &:hover
        {
            background-color: $primary-active;
        }
    }
}
